<h1>You are in <span style="color: #8a775e;">{{vanId}}</span></h1>
<section id="foodList">
    <ul>
        {{#each foods}}
        <li>
            <img class="browsePage" src="https://source.unsplash.com/{{this.photo}}">
            <a href="/customer/menu/{{this.foodId}}">{{this.name}}: ${{this.price}}</a>
        </li>

        {{/each}}
        
    </ul>
</section>